body {
    background-color: #89cff0;
    max-width: 100%;
    margin: 0px 100px;
    padding: 0px 100px;
}
img {
    display: block;
    border-radius: 10px;
    border: 5px solid #555;
}
/* Style rules for header */
header {
    margin-top: 0px;
    background-color: #89cff0;
}
main{
    background-color: #fff;
}
p {
    background-color: #fff;
    padding: 2%;
    font-family: 'Roboto Slab', serif;
    width: 100%;
    font-size: 16px;
}

h1{
 font-size: 32px; 
}

h2{
    font-size: 24px;
}

h3{
    font-size: 18px;
}
p, h1, h2, h3{
    text-align: center;
}
