/* Style rules for body */
body {
    background-color: #fff;
    margin: 0px 100px;
    padding: 0px 100px;
}
/* Style rules for links */
a:link{
    color: #000;
}
a:visited{
    color: #800080;
}
a:hover{
    color: #000;
}
a:active{
    color: #FF0000;
}
/* Style rules for header */
header {
    background-color: #89cff0;
}
/* Style rules for photo and paragraphs */
img{
    padding-left: 20px;
}
p {
    background-color: #fff;
    padding: 2%;
    font-family: 'Roboto Slab', serif;
    width: 100%;
    font-size: 16px;
}
/* Style rules for headers */
h1{
 font-size: 32px; 
}

h2{
    font-size: 24px;
}

h3{
    font-size: 18px;
}
/* Style rules to align text to the center and to add a light gray background */
p, h1, h2, h3{
    text-align: center;
}
footer, p, main{
    background-color: #D3D3D3;
}
