    
/* Style rules for links */
a:link{
    color: #000;
}
a:visited{
    color: #800080;
}
a:hover{
    color: #000;
}
a:active{
    color: #FF0000;
}
/* Style rules for header */
header {
    height: 30%;
}
/* Style rules for photo and paragraphs */
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
p {
    padding: 2%;
    font-family: 'Roboto Slab', serif;
    width: 100%;
    font-size: 16px;
}
/* Style rules for headers */
h1{
 font-size: 32px; 
}
main{
 height: 60%;   
}
h2{
    font-size: 24px;
}

h3{
    font-size: 18px;
}
/* Style rules to align text to the center and to add a light gray background */
p, h1, h2, h3{
    text-align: center;
    margin: 0px 100px;
    padding: 0px 100px;
}
header, main, footer{
    background-color: #89cff0;
}

footer{ 
    height: 10%;
}
