/*
Author: Aaron Jazzar
Date: 10/18/2020
File Name: styles2.css
*/

/* Style rule for list items */
li{
    padding-bottom: 10px;
}
/* Style rules for links */
a:link{
    color: #000;
}
a:visited{
    color: #800080;
}
a:hover{
    color: #000;
}
a:active{
    color: #FF0000;
}

/* Style rules for image and paragraphs */
img{
  display: block;
  width: 20%;
  height: 20%;
  margin: auto;
}
p {
    padding: 2%;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
}
/* Style rules for header font size */
h1{
 font-size: 32px; 
}

h2{
    font-size: 24px;
}

h3{
    font-size: 18px;
}

/* Style rules to align text to the center and to add a light blue background */
ul, ol, p, h1, h2, h3{
    text-align: center;
}
header, footer{
    background-color: #89cff0;
}

/* Style rules to cover the remaining space on the web page */
header, footer{
    padding: 25px 80px;
}
main{
    padding: 0px 80px;
    text-align: center;
}

/* Style rules for navigation area */
nav {
   padding-top: 1%;
   margin-top: 1%;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    font-size: 1.5em;
    font-family: 'Francois One', sans-serif;
}

nav li a {
    display: inline-block;
    color: #000;
    padding: 0.5em 1em;
    text-decoration: none;
    text-shadow: 5px 5px 8px #ffff00;
}

